# Database Configuration
MONGODB_URI=mongodb://localhost:27017/stories_post

# JWT Secret
JWT_SECRET=your_jwt_secret_key_here

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dycxmy3tq
CLOUDINARY_API_KEY=728763913524778
CLOUDINARY_API_SECRET=S6hvz7VYYQ81LFkctZacoWXer7E

# Server Configuration
PORT=5005
NODE_ENV=development 